.DS_Store
*.log
*.class
*.jar
*.zip
*.doc
*.xls
*.pdf
*.project
*.swp
*.ear
*.rar
*.war
*.scc
*.svn
*.svn-base
.classpath
.jetproperties
.jspPersistence
.serverPreference
.settings
.websettings
/target/
/bin/
/doc/
